<div class="row p-4 shadow">

  <!--スケジュールのタイトル-->
  <div class="row border-bottom border-4 schedule_title">
    <div class="col-2">
      <div class="row">
        <div class="col-6">
          患者名
        </div>
        <div class="col-6">
          <i class="far fa-plus-square"></i><span class="small">タスク追加</span>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="scale_position-wrp">
        <% nums.each do |num| %>
          <div class="scale_position",
               style="--task_p: <%= ((num-8)*100)/13 %>%;" >
            <strong><%= num %></strong>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-1">
      <i class="fas fa-trash"></i><span class="small">行削除</span>
    </div>
  </div>

  <!--スケジュール中身、１患者さん１行表示される-->
  <% task_lists.each do |task_list| %>
  <div class="row border-bottom">

    <div class="col-2">
      <div class="row">
        <div class="col-6">
          <%= task_list.patient.name %>
        </div>
        <div class="col-5">
          <!--プラスマークを押すとタスクが追加される-->
            <% if (controller.action_name == "show") && (task_list.schedule.nurse_id == current_nurse.id) %>
              <%= link_to new_task_list_task_path(task_list.id) do %><i class="far fa-plus-square"></i><% end %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="task_position-wrp">
        <!--タスクリストに紐づくタスクを集めてeachで表示させる-->
        <% (Task.collect_tasks(task_list)).each do |task| %>
          <div class="task_position"
               style="--task_p: <%= task.calculate_task_position(task) %>%;", id="task_<%= task.id %>" >
            <%= render 'task', task_list: task_list,task: task %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-1">
      <!--スケジュールから患者の行を削除する-->
      <% if (controller.action_name == "show") && (task_list.schedule.nurse_id == current_nurse.id) %>
        <%= link_to task_list_path(task_list), method: :delete, class: "body_link" do %><i class="fas fa-trash"></i><% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!--患者行の追加-->
  <% if (controller.action_name == "show") && (schedule.nurse_id == current_nurse.id) %>
  <div class="row pt-3">
    <div class="col-4">
      <%= form_with model:task_list, local:true do |f| %>
        <%= f.label :patient_id, "患者選択", class: "small" %>
        <%= f.collection_select :patient_id, @patients, :id, :name, class: "form-control" %>
        <%= f.hidden_field :schedule_id, value: schedule.id %>
        <%= f.submit "追加", class: "btn btn-sm btn-secondary" %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
