<span class="<%= ' task_rate_1' if task.rate == 1 && task.status == true %>
             <%= ' task_rate_2' if task.rate == 2 && task.status == true %>
             <%= ' task_rate_3' if task.rate == 3 && task.status == true %>">

  <!--チェックボックス-->
  <% if ((controller.action_name == "show") || (controller.action_name == "update_status")) && (task_list.schedule.nurse_id == current_nurse.id) %>
  <span class="small">
    <% if task.status == true %>
      <%= link_to update_status_task_list_task_path(task_list.id, task), method: :PATCH, remote: true, class: 'task_status_link' do %>
         <i class="far fa-square"></i>
      <% end %>
    <% else %>
      <%= link_to update_status_task_list_task_path(task_list.id, task), method: :PATCH, remote: true, class: 'task_status_link' do %>
         <i class="far fa-check-square"></i>
      <% end %>
    <% end %>
  </span>
  <% end %>

  <!--タスク開始時間-->
  <span class="small">
    <%= task.task_start_time.to_s(:datetime) %>
  </span>

  <!--タスクの内容-->
  <span class ="<%= ' learge' if task.status == true %><%= ' line-through' if task.status == false %>">
    <%= task.task %>
  </span>

  <!--タスク編集ボタン-->
  <span>
    <% if ((controller.action_name == "show") || (controller.action_name == "update_status")) && (task_list.schedule.nurse_id == current_nurse.id) && task.status == true %>
      <%= link_to edit_task_list_task_path(task_list.id,task.id), local:true do %><i class="fas fa-pencil-alt"></i><% end %>
    <% end %>
  </span>
</span>
