<span id="review_alert">
<% if @review_alert == nil %>
<% else %>
  <%= render 'review_alert', review_alert: @review_alert %>
<% end %>
</span>
<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <!--見出し-->
      <div class="row pt-5 pb-3">
        <h3>
          <%= @schedule.created_at.strftime('%m月%d日') %>
          Ns.<%= @schedule.nurse.name %> のスケジュール
        </h3>
      </div>


      <!--スケジュール表示-->
      <%= render 'schedule', task_lists: @task_lists, task_list: @task_list, schedule: @schedule, nums: @nums %>

     <!--レビュー投稿と表示画面への遷移リンク -->
      <%= render 'new_review', schedule: @schedule, review: @review %>

      <!--スケジュールを削除する（タスクもすべて削除される）。ログインユーザーにのみ表示される。-->
      <% if @schedule.nurse_id == current_nurse.id %>
      <div class="row p-3">
        <div class="col-5">
          <%= link_to schedule_path(@schedule.id), method: :delete, data: { confirm: "本当に削除しますか？"}, class: 'body_link' do %>
            <%= @schedule.created_at.strftime('%m月%d日') %>のスケジュールを削除する
          <% end %>
        </div>
        <p class="small">実行後、こちらのスケジュールに関連するタスクとレビューがすべて削除されます。</p>
      </div>
      <% end %>

    </div>
  </div>
</div>