<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row py-5">
        <h3><%= @schedule.created_at.strftime('%m月%d日') %> Ns.<%= @schedule.nurse.name %> さんへのレビュー一覧</h3>
      </div>

      <!--スケジュールに紐づくレビューをeachで表示する-->
      <div class="row p-4">
          <% @reviews.each do |review| %>
          <div class="card m-2 shadow" style="width:25rem;">
            <div class="card-body">
              <h5 class="card-title"><small>from  </small>Ns.<%= review.reviewer_nurse.name %> </h5>

              <%= form_with model:[@schedule,review], local:true do |f| %>
              <!--感情分析結果表示-->
              <div class="text-end">
                <small>感情分析スコア:<%= review.score %></small>
              </div>
              <div class="form-group">
                <div class="row p-1">
                  <%= f.text_area :review, class: "form-control" %>
                </div>
                <!--レビューした人とと閲覧者が同じであれば、編集・削除リンクを表示する-->
                <% if review.reviewer_nurse == current_nurse %>
                <div class="row p-1">
                  <div class="text-end">
                    <!--reviewer_nurseは投稿をした看護師。投稿される看護師はscheduleに紐づいている(nurse_id)-->
                    <%= f.hidden_field :reviewer_nurse_id, value: current_nurse.id %>
                    <%= f.hidden_field :schedule_id, value: @schedule.id %>
                    <%= f.submit "編集", class: "btn btn-dark btn-sm col-3" %>
                    <!--削除リンク-->
                    <%= link_to schedule_review_path(@schedule.id, review.id), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "body_link" do %><i class="fas fa-trash"></i><% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
      <div class="row p-4">
        <%= link_to schedule_path(@schedule), class: "body_link lead" do %>
          <i class="fas fa-arrow-circle-left"></i>スケジュールへ戻る
        <% end %>
      </div>


    </div>
  </div>
</div>
