<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row py-5">
        <h3>マイページ</h3>
      </div>

      <!--看護師情報編集-->
      <div class="row p-4 shadow">
        <div class="row">
          <h5>看護師情報の変更</h5>
        </div>
        <%= form_with model:@nurse, local:true do |f| %>
          <div class="row mx-auto">
            <div class="form-group col-md-4 py-1">
              <%= f.label :name, "名前" %>
              <%= f.text_field :name, :placeholder =>"#{@nurse.name}", class: "form-control" %>
            </div>
            <div class="form-grop col-md-2 py-1">
              <%= f.label :ward_id, "病棟" %></br>
              <%= f.collection_select :ward_id, Ward.all, :id, :ward_name, :placeholder =>"#{@nurse.ward_id}", class: "form-select" %>
            </div>
            <div class="col-md-3 my-auto">
              <%= f.submit "編集内容を保存", class: "btn btn-sm btn-secondary" %>
            </div>
          </div>
        <% end %>
      </div>

    　<!--ログイン看護師のスケジュール一覧を日付で表示する-->
      <div class="row p-4 mt-5 shadow">
        <div class="row">
          <h5>過去のスケジュール・レビュー</h5>
        </div>
        <div class="row">
          <small>患者さんが削除された場合は、タスクも削除されています。</small>
        </div>
        <% @schedules.each do |schedule| %>
        <div class="row">
          <div class="col-md-3">
            <%= link_to "#{schedule.created_at.strftime('%m月%d日')}", schedule_path(schedule), class: "body_link" %>
          </div>
        </div>
        <% end %>
        <%= paginate @schedules %>
      </div>

    </div>
  </div>
</div>