<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row">
        <div class="col-5">
          <div class="row pt-5 pb-2">
            <h3>患者登録</h3>
          </div>

          <div class="row p-4 m-3 shadow">
            <%=  form_with(model:@patients, url: admin_patients_path, local:true) do |f| %>
              <div class="form-group py-1">
                <%= f.label :name, "名前" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group py-1">
                <%= f.label :birthday, "生年月日" %>
                <%= f.date_field :birthday, class: "form-control" %>
              </div>
              <div class="form-group py-1">
                <%= f.label :ward_id, "病棟" %></br>
                <%= f.collection_select :ward_id, Ward.all, :id, :ward_name, class: "form-select" %>
              </div>
              <div class="form-group py-1">
                <%= f.submit "登録", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-7">
          <div class="row p-5 pb-2">
            <h3>患者一覧（<%= current_admin.ward.ward_name %> 病棟）</h3>
          </div>

          <div class="row p-4 m-3 shadow">
            <%= paginate @patients %>
            <table class="table p-3">
              <thead>
                <tr>
                  <th>患者名</th>
                  <th>生年月日</th>
                  <th></th>
                </tr>
              </thead>

              <% @patients.each do |patient| %>
              <tbody>
                <tr>
                  <td><%= patient.name %></td>
                  <td><%= patient.birthday %></td>
                  <td><%= link_to "削除", admin_patient_path(patient), method: :DELETE, class: "btn btn-danger btn-sm" %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


