<%= form_with model:[task_list,task], method: method, local:true do |f| %>
  <div class="row mx-auto">
    <div class="form-group col-4 py-1 mx-auto">
      <%= f.label :task, "タスク名（10文字以内）" %>
      <%= f.text_field :task, class: "form-control" %>
    </div>

    <div class="form-grop col-2 py-1 mx-auto">
      <%= f.label :task_start_time, "開始時間" %></br>
      <%= f.time_select :task_start_time, {minute_step: 10, start_hour: 8, end_hour: 18}, class: "form-control time_form" %>
    </div>

     <!--#ratyを使用した優先度評価-->
     <div class="field col-2 py-1 mx-auto" id="star">
      <%= f.label :rate, "優先度" %></br>
      <%= f.hidden_field :rate, id: :review_star %>
      <%= render 'raty', task: task %>
    </div>

    <div class="col-3 my-auto">
      <%= f.hidden_field :task_list_id, value: task_list.id %>
      <%= f.submit submit, class: "btn btn-secondary" %>

      <!--editアクションのときのみ、削除ボタンが表示される-->
      <% if controller.action_name == "edit" %>
      　<%= link_to "タスク削除", task_list_task_path(task_list, task), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
