<div class="notice">
  <%= render "nurse/shared/error_messages", resource: resource %>
</div>
<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row py-5">
          <h3>Nurse Sign up</h3>
      </div>

      <div class="row p-4 shadow signup">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="row p-2">
            <div class="form-grop col-7 col-offset-1">
              <%= f.label :name, "名前" %><br />
              <%= f.text_field :name, autofocus: true, autocompletea: "name", class: "form-control" %>
              <p class="small">同じ名前は登録できません。</p>
            </div>
            <div class="form-grop p-2 col-4">
              <%= f.label :ward_id, "病棟" %><br />
              <%= f.collection_select :ward_id, Ward.all, :id, :ward_name, autocomplete: "ward_id", class: "form-control select-form" %>
            </div>
          </div>


          <div class="form-grop p-2">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-grop p-2">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-grop p-3">
            <%= f.submit "新規登録", class: "btn btn-sm btn-secondary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
